body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: red;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline; 
}

main {
    padding: 20px;
    background: blue;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin: 0 auto;
}

td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ff0000;
    color: white;
    border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.logo img{
  width: 90px;
  height: 100px;
}

h2{
    color: white;
}

p {
    color: white;
}

h3 {
    color: white;
}
